@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

/* * {
    font-family: 'Gudea', sans-serif;
} */

.menu {


    padding: 15px;

}

.menu:hover {
    border-bottom: #FF1616 solid 1px;
    color: #FF1616
}

.lien {
    text-decoration: none;
    color: black;
}

.btn-danger {
    background-color: #FF1616;
}

.cardBtn {

    display: flex;
}

.text-danger {
    color: #FF1616 !important;
}

.card-img-top {
    height: 345px;
}


.picture {
    width: 400px;
}


.border {

    background-color: white;
    height: 1px;
}

.footer {
    display: flex;
}